* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: #fff;
    color: #333;
}
header #logo{
    width: 200px;
    height: px;
    margin-right: 1180px;
}

li, a {
    font-family: monospace;
    font-weight: 500;
    font-size: px;
    color: #edf0f1;
}
header nav a {
    text-align: center;
    font-size: 25px;
    margin-left: 80px;
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background: #f8aeca;
    height: 50px;
}
.navlinks {
    display: flex;
    list-style: none;
    margin-left: -150px;
    

}
.navlinks li a {
    display: inline-block;
    text-decoration: none;
    padding: 0px 0px;
    margin-left: 10px;
    
}
.navlinks li a:hover {
    color: #EB42A6;
} 
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

footer {
    text-align: center;
    background: #f8aeca;
    padding: 15px;
    color: white;
}
footer img {
    width: 30px;
    height: 30px; 
    margin-left: 140px;
    margin-right: 120px;
}
footer .social a {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}
.cart-icon {
    font-size: 20px;
}
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}
.products {
    flex: 3;
}
.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.product img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 15px;
}
.product-info {
    flex: 1;
}
.product-info h3 {
    margin: 0;
    font-size: 20px;
}
.product-info p {
    margin: 3px 0;
    color: #555;
    font-size: 18px;
}
.price {
    font-weight: bold;
    font-size: 16px;
}
.checkout {
    flex: 1;
    text-align: right;
}
.checkout h2 {
    margin: 0;
    font-size: 28px;
    color: #333;
}
.checkout button {
    margin-top: 10px;
    background: #a94b82;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;    
    transition: all 0.3s ease;
}
.checkout button:hover {
    background: #d46ba0;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}