* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #333;
}
header #logo{
    width: 200px;
    height: px;
    margin-right: 1180px;

}
header #logo_carrinho{
    width: 40px;
    height: 50;  
}
li, a {
    font-family: monospace;
    font-weight: 500;
    font-size: px;
    color: #edf0f1;
}
header nav a {
    text-align: center;
    font-size: 25px;
    margin-left: 80px;
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background: #f8aeca;
    height: 50px;
}
.navlinks {
    display: flex;
    list-style: none;
    margin-left: -150px;
    

}
.navlinks li a {
    display: inline-block;
    text-decoration: none;
    padding: 0px 0px;
    margin-left: 10px;
    
}
.navlinks li a:hover {
    color: #EB42A6;
} 
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.carrossel {
    text-align: center;
    padding: 30px 0 20px 0;
    position: relative;
    width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
}
.slides {
    display:flex;
    transition: transform 0.5s ease-in-out;
}
.slides img {
    width: 600px;
    height: 484px;
    border-radius: 12px;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.8);
}


.espaco {
    margin-top: 20px;
}

.espaco span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #f8aeca;
    border-radius: 100%;
}


.sobre {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.sobre img {
    width: 354px;
    align-items: center;
    border-radius: 12px;
}

.sobre p {
    flex: 1;
    font-size: 25px;
}

footer {
    text-align: center;
    background: #f8aeca;
    padding: 15px;
    color: white;
}
footer img {
    width: 30px;
    height: 30px; 
    margin-left: 140px;
    margin-right: 120px;
}
footer .social a {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}


.mini-carrossel{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background: #ffe6ec;
    padding: 20px 20px 20px 20px ;
}

.fotos {
    align-items: center ;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.fotos img {
    width: 180px;
    height: 160px;
    object-fit: cover;
    margin: 0 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
